<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<div th:replace="fragments :: navbar (usuarioLoggeado=${usuarioLoggeado != null ? usuarioLoggeado : null})"></div>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList Equipo 13</h1>
        <ul>
            <li>Desarrollada por Mercedes Suarez Canga </li>
            <li>Versión 1.2.0</li>
            <li>Fecha de release: 13/11/2024</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>