<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Editar tarea')"></head>

<body>
<div th:replace="fragments :: navbar (usuarioLoggeado=${usuarioLoggeado != null ? usuarioLoggeado : null})"></div>
<div class="container-fluid">

    <h2 th:text="'Modificación de la tarea ' + ${tarea.getId()}"></h2>

    <form method="post" th:action="@{/tareas/{id}/editar(id=${tarea.id})}" th:object="${tareaData}">
        <div class="col-6">
            <div class="form-group">
                <label for="titulo">Título de la tarea:</label>
                <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción de la tarea:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control" id="estado" name="estado" required th:field="*{estado}">
                    <option value="Pendiente" th:selected="${tareaData.estado == 'Pendiente'}">Pendiente</option>
                    <option value="En progreso" th:selected="${tareaData.estado == 'En progreso'}">En progreso</option>
                    <option value="Completada" th:selected="${tareaData.estado == 'Completada'}">Completada</option>
                </select>
            </div>
            <div class="form-group">
                <label for="prioridad">Prioridad:</label>
                <select class="form-control" id="prioridad" name="prioridad" required th:field="*{prioridad}">
                    <option value="Alta" th:selected="${tareaData.prioridad == 'Alta'}">Alta</option>
                    <option value="Media" th:selected="${tareaData.prioridad == 'Media'}">Media</option>
                    <option value="Baja" th:selected="${tareaData.prioridad == 'Baja'}">Baja</option>
                </select>
            </div>
        <button class="btn btn-primary" type="submit">Modificar tarea</button>
        <a class="btn btn-link" th:href="@{/usuarios/{id}/tareas(id=${tarea.usuarioId})}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>