<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Nueva tarea')"></head>

<body>
<div th:replace="fragments :: navbar (usuarioLoggeado=${usuarioLoggeado != null ? usuarioLoggeado : null})"></div>
<div class="container-fluid">

    <h2 th:text="'Nueva tarea para el usuario ' + ${usuario.getNombre()}"></h2>

    <form method="post" th:action="@{/usuarios/{id}/tareas/nueva(id=${usuario.id})}" th:object="${tareaData}">
        <div class="col-6">
            <div class="form-group">
                <label for="titulo">Título de la tarea:</label>
                <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}"></textarea>
            </div>
            <div class="form-group">
                <label for="prioridad">Prioridad:</label>
                <select class="form-control" id="prioridad" name="prioridad" required th:field="*{prioridad}">
                    <option value="Alta" th:selected="${tareaData.prioridad == 'Alta'}">Alta</option>
                    <option value="Media" th:selected="${tareaData.prioridad == 'Media'}">Media</option>
                    <option value="Baja" th:selected="${tareaData.prioridad == 'Baja'}">Baja</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deadline">Fecha y hora de deadline:</label>
                <input class="form-control" id="deadline" name="deadline" th:field="*{deadline}" type="datetime-local"/>
            </div>
            
            <button class="btn btn-primary" type="submit">Crear tarea</button>
            <a class="btn btn-link" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>