<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista usuarios')"></head>

<body>
<div th:replace="fragments :: navbar (usuarioLoggeado=${usuarioLoggeado != null ? usuarioLoggeado : null})"></div>
<div class="container-fluid">

  <div class="row mt-3">
    <div class="col">
      <h2 th:text="'Listado de usuarios'"></h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Correo electronico</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario: ${usuarios}">
          <td th:text="${usuario.id}"></td>
          <td th:text="${usuario.email}"></td>
          <!--<td><a class="btn btn-primary btn-xs" th:href="@{/registrados/{id}(id=${usuario.id})}"/>ver detalles</a></td>
          <td th:if="${usuario.bloqueado}">
            <a class="btn btn-success btn-xs" th:href="@{/toggleBloqueo/{id}(id=${usuario.id})}">Desbloquear</a>
          </td>
          <td th:if="${!usuario.bloqueado}">
            <a class="btn btn-warning btn-xs" th:action="@{/toggleBloqueo/{id}(id=${usuario.id})}">Bloquear</a>
          </td>-->
          <td>
            <a class="btn btn-primary btn-xs" th:href="@{/registrados/{id}(id=${usuario.id})}" style="margin-right: 5px;">ver detalles</a>
            <form th:action="@{/toggleBloqueo/{id}(id=${usuario.id})}" method="post" style="display: inline;">
              <button type="submit"
                      th:text="${usuario.bloqueado ? 'Desbloquear' : 'Bloquear'}"
                      class="btn btn-warning btn-xs">
              </button>
            </form>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

</body>
</html>