<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Listado tareas')"></head>

<body>
<div th:replace="fragments :: navbar (usuarioLoggeado=${usuarioLoggeado != null ? usuarioLoggeado : null})"></div>
<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de tareas de ' + ${usuario.nombre}"></h2>
        </div>
    </div>

    <form method="get" th:action="@{/usuarios/{id}/tareas(id=${usuario.id})}">
        <div class="form-row align-items-end">
            <div class="col-2">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" placeholder="Introduce titulo" name="titulo" class="form-control" th:value="${titulo}">
            </div>
            <div class="col-2">
                <label for="estado">Estado</label>
                <select id="estado" name="estado" class="form-control">
                    <option selected value="" th:selected="${estado == null}">Elije...</option>
                    <option value="Pendiente" th:selected="${estado == 'Pendiente'}">Pendiente</option>
                    <option value="En progreso" th:selected="${estado == 'En progreso'}">En progreso</option>
                    <option value="Finalizada" th:selected="${estado == 'Finalizada'}">Finalizada</option>
                </select>
            </div>
            <div class="col-2">
                <label for="prioridad">Prioridad</label>
                <select id="prioridad" name="prioridad" class="form-control">
                    <option selected value="" th:selected="${prioridad == null}">Elije...</option>
                    <option value="Baja" th:selected="${prioridad == 'Baja'}">Baja</option>
                    <option value="Media" th:selected="${prioridad == 'Media'}">Media</option>
                    <option value="Alta" th:selected="${prioridad == 'Alta'}">Alta</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mt-6">Filtrar</button>
            </div>
        </div>
    </form>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Tarea</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tarea: ${tareas}">
                    <td th:text="${tarea.id}"></td>
                    <td th:text="${tarea.titulo}"></td>
                    <td th:text="${tarea.descripcion}"></td>
                    <td th:text="${tarea.estado}"></td>
                    <td th:text="${tarea.prioridad}"></td>
                    <td><a class="btn btn-primary btn-xs" th:href="@{/tareas/{id}/editar(id=${tarea.id})}"/>editar</a>
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                           th:onclick="'del(\'/tareas/' + ${tarea.id} + '\')'">borrar</button>
                        <a class="btn btn-primary btn-xs" th:href="@{/tareas/{id}(id=${tarea.id})}"/>Ver Detalles</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" th:href="@{/usuarios/{id}/tareas/nueva(id=${usuario.id})}"> Nueva tarea</a>
            <a class="btn btn-link" href="/logout">Salir</a></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

<!-- Lanzamos una petición DELETE por JavaScript para borrar una tarea -->

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la tarea?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.reload());
        }
    }
</script>

</body>
</html>